*,
*::before,
*::after {
  box-sizing: border-box;
}

.section-furniture {
  padding: 48px 0;
  background-color: #fff;
}

.title-furniture {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  color: #080c09;

  margin-bottom: 16px;
}

.text-furniture {
  font-size: 18px;
  line-height: 29px;
  color: #080c09;

  margin-bottom: 40px;
}

.categories-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;

  list-style: none;

  margin-bottom: 40px;
}

.category-item {
  flex: 0 0 158px;
  height: 122px;
  flex-basis: calc((100% - 16px) / 2);
}

.category-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;

  color: #ffffff;

  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: none;

  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );

  border-radius: 12px;
  border: 8px solid transparent;
  cursor: pointer;

  transition:
    transform 250ms ease,
    border-color 250ms ease;
}

.all-products {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/all-products.webp') 1x,
      url('../img/all-products@2x.webp') 2x
    );
}
.sofas {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/sofas.webp') 1x, url('../img/sofas@2x.webp') 2x);
}
.wardrobes {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/wardrobes.webp') 1x,
      url('../img/wardrobes@2x.webp') 2x
    );
}
.beds {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/beds.webp') 1x, url('../img/beds@2x.webp') 2x);
}
.tables {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/tables.webp') 1x, url('../img/tables@2x.webp') 2x);
}
.chairs {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/chairs.webp') 1x, url('../img/chairs@2x.webp') 2x);
}
.kitchens {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/kitchens.webp') 1x, url('../img/kitchens@2x.webp') 2x);
}
.kids {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/kids.webp') 1x, url('../img/kids@2x.webp') 2x);
}
.office {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/office.webp') 1x, url('../img/office@2x.webp') 2x);
}
.hallway {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/hallway.webp') 1x, url('../img/hallway@2x.webp') 2x);
}
.bathroom {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/bathroom.webp') 1x, url('../img/bathroom@2x.webp') 2x);
}
.outdoor {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/outdoor.webp') 1x, url('../img/outdoor@2x.webp') 2x);
}
.decor {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(url('../img/decor.webp') 1x, url('../img/decor@2x.webp') 2x);
}

.category-btn:hover,
.category-btn:focus {
  opacity: 0.98;
  transform: scale(1.02);
}

.category-btn.is-active {
  border-color: #8b0000;
}

/*-------   mebli ---------- */

.furniture-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.furniture-item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.furniture-thumb {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;

  background-color: #f5f5f5;
}

.furniture-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.furniture-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.furniture-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #080c09;

  margin-bottom: 8px;
}

.furniture-color {
  display: flex;
  gap: 16px;
}

.furniture-color svg {
  border: 1px solid #c7c3bb;
  border-radius: 50%;
}

.furniture-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #080c09;

  margin-bottom: 16px;
}

.details-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100px;
  padding: 10px 24px;
  width: 335px;
  height: 46px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #080c09;
  border: none;

  box-shadow:
    0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(8, 12, 9, 0.05),
    inset 0 0 0 1px rgba(8, 12, 9, 0.05);
  background-color: rgba(8, 12, 9, 0.05);
}

.btn-pagination-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.load-more {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 10px 24px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 340px;
  height: 46px;
  color: #fff;
  background-color: #6b0609;

  box-shadow:
    0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);

  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.load-more.is-hidden {
  display: none;
}

.load-more.is-hidden {
  display: flex;
}

.load-more:hover,
.load-more:focus {
  opacity: 0.5;
}

/* --------------------media------------------------ */

@media screen and (min-width: 768px) {
  .categories-list {
    gap: 24px;
  }
  .category-item {
    flex-basis: calc((100% - 72px) / 4);
    height: 140px;
  }

  .furniture-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .category-item {
    flex-basis: calc((100% - 144px) / 7);
    height: 140px;
  }

  .furniture-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
